<div class="w-50 mx-auto">
  <%= simple_form_for @list do |f| %>
    <%= f.input :name %>
    <%= f.button :submit, class: "btn btn-primary" %>
  <% end %>
<%= link_to "Retour aux lists", lists_path, class: "btn btn-secondary my-3" %>
</div>
